*,
*::after,
*::before {
  box-sizing: border-box;
  /* list-style: none; */
  margin: 0;
  padding: 0;
}
:root {
  --nav-color: #e3fef7;
  --nav-color-paragraf: rgb(32, 45, 45);
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-size: 1.4rem;
  line-height: 1.7;
}
.nav--links {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  list-style-type: none;
  padding-right: 5rem;
  padding-top: 0.5rem;
  background-color: #77b0aa;
  color: var(--nav-color-paragraf);
  font-weight: 500;
}
.nav__link {
  cursor: pointer;
  margin-bottom: 1rem;
  margin-top: 0.25rem;
  margin-left: 2rem;
}
